<div mat-dialog-title class="header-container">
  <h2>{{ modalType }} book</h2>
  <button mat-icon-button type="button" (click)="matdialigRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="dialog-content">
  <div class="content">
    <!-- Title -->
    <mat-form-field floatLabel="always">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        type="text"
        placeholder="Ingrese nombre"
        autocomplete="off"
      />
    </mat-form-field>

    <!-- Description -->
    <mat-form-field floatLabel="always">
      <mat-label>Description</mat-label>
      <input
        matInput
        type="text"
        placeholder="Ingrese nombre"
        autocomplete="off"
      />
    </mat-form-field>

    <!-- Authors -->
    <mat-form-field floatLabel="always">
      <mat-label>Authors</mat-label>
      <input
        matInput
        type="text"
        placeholder="Ingrese nombre"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="actions">
  <button (click)="matdialigRef.close()" mat-button>Cancelar</button>

  <button mat-raised-button [color]="'primary'" class="w-32">
    <mat-progress-spinner
      *ngIf="isLoading"
      [diameter]="24"
      [mode]="'indeterminate'"
    ></mat-progress-spinner>
    <span *ngIf="!isLoading">Editar</span>
  </button>
</div>
