<mat-card>
  <mat-card-title>Logs</mat-card-title>
  <div class="logs-header">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target?.value)"
        placeholder="Filter"
      />
    </mat-form-field>
    <h3>10 books updated in the current month</h3>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- Updated at -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated at</th>
        <td mat-cell *matCellDef="let element">{{ element.updatedAt }}</td>
      </ng-container>

      <!-- Change details -->
      <ng-container matColumnDef="changeDetails">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Change details
        </th>
        <td mat-cell *matCellDef="let element">{{ element.changeDetails }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</mat-card>
